<%layout("/layout/boilerplate")%>
<div class="row mt-3">
    <div class="col-8 offset-2"></div>
</div>
<h2>Edit Listing</h2>
    <form method="POST" class="needs-validation"  novalidate action="/listings/<%=listing._id%>?_method=PUT" enctype="multipart/form-data">  
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" required>
            <div class="invalid-feedback">Please Enter a Title</div>
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Title</label>
            <textarea name="listing[description]" type="text" class="form-control" required> <%=listing.description%></textarea>
            <div class="invalid-feedback">Please Enter a Description</div>
        </div>
        <div class="mb-3">
            <h5>Original Listing Image</h5>
            <img src="<%=originalImageUrl%>">
        </div>
        <div class="mb-3">
            <label for="Image_URL" class="form-label">Upload New Image</label>
            <input name="listing[image]"  type="file"  class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" value="<%=listing.price%>" type="number" required class="form-control">
                <div class="invalid-feedback">Please Enter Price</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" value="<%=listing.country%>" type="text" required class="form-control">
                <div class="invalid-feedback">Please Enter a Country</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" value="<%=listing.location%>" type="text" required class="form-control">
            <div class="invalid-feedback">Please Enter a Location</div>
        </div>        
        <button class="btn btn-dark add-btn mt-3">Edit</button>
    </form>
